{% extends 'base.html.twig' %}

{% block title %}Liste de film{% endblock %}

{% block body %}
    <h1>Liste de film</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Description</th>
                <th>Date de sortie</th>
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.title }}</td>
                <td>{{ film.image }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.dateSortie ? film.dateSortie|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ film.genre }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('app_film_show', {'id': film.id}) }}">Afficher</a>
                    <a href="{{ path('app_film_edit', {'id': film.id}) }}">Modifier</a>
                </td>
                {% else %}
                    <td>
                        <a href="{{path('app_user_film_index', {'id': film.id})}}">Ajouter en favoris</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun film n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_film_new') }}">Ajouter un film</a>
    {% endif %}
{% endblock %}
